.spinner {
  margin: calc(50vh - 198px) auto;
}

.form {
  padding: 40px 0 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  @media(max-width: 1200px) {
    flex-direction: column;
  }
}

.collection{
   margin: 0 200px 50px 0;
   @media(max-width: 1450px) {
    margin-right: 60px;
  }
}

.fields {
  width: 100%;
  max-width: 900px;
  overflow-x: auto;

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    min-width: 700px;
    justify-content: space-between;
  }

  &__number{
    color: #d1d1d6;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    margin-bottom: 19px;
  }

  &__checkbox{
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 1.34375em;
    border-radius: 4px;
    height: 55px;
    width: 130px;
    color: rgba(0, 0, 0, 0.6);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    ::ng-deep label{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    ::ng-deep .mat-checkbox-inner-container {
      margin-left: unset;
    }
  
  }
}

.add-field-button {
  margin-top: 10px;
}

.remove-field-button {
  width: 55px;
  height: 55px;
  margin-bottom: 1.34375em;
}

.save-button {
  display: block;
  margin-top: 50px;
  background-color: var(--color-success);
}
