.accordion {
  margin-bottom: 5px;
}

.accordion__header {
  padding: 0 15px;
  align-items: center;
}

.accordion__title {
  align-items: center;
}

.group-title {
  margin: 0 10px 0 5px;
}

.link {
  display: block;
}
