$blue-palette: (
    50 : #e0efff,
    100 : #b3d7ff,
    200 : #80bdff,
    300 : #4da2ff,
    400 : #268eff,
    500 : #007aff,
    600 : #0072ff,
    700 : #0067ff,
    800 : #005dff,
    900 : #004aff,
    A100 : #ffffff,
    A200 : #f2f5ff,
    A400 : #bfceff,
    A700 : #a6baff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$blue-light-palette: (
    50 : #e6f5fc,
    100 : #c2e6f8,
    200 : #99d6f3,
    300 : #70c6ee,
    400 : #51b9ea,
    500 : #32ade6,
    600 : #2da6e3,
    700 : #269cdf,
    800 : #1f93db,
    900 : #1383d5,
    A100 : #ffffff,
    A200 : #d1eaff,
    A400 : #9ed3ff,
    A700 : #85c7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
