// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@use './color-palette.scss' as color-palette;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-app-primary: mat.define-palette(color-palette.$blue-palette);
$client-app-accent: mat.define-palette(color-palette.$blue-light-palette);

// The warn palette is optional (defaults to red).
$client-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $client-app-primary,
      accent: $client-app-accent,
      warn: $client-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-app-theme);

/* You can add global styles to this file, and also import other style files */

.mat-typography h2{
  font-size: 22px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-success: #32d74b;
  --color-danger: #ff3a30;
  --color-info: #007bff;
  --color-header:#f0f1f6;
  --color-side-nav:#18202e;
  --color-white:#fafafa;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
